<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DATACACHE_SERVER_HOSTNAME" value="localhost"/>
    <add key="DATACACHE_SERVER_PORT" value="22233"/>
    <add key="DATACACHE_NAME" value="session"/>
  </appSettings>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>