<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="DATACACHE_SERVER_HOSTNAME" value="localhost"/>
    <add key="DATACACHE_SERVER_PORT" value="22233"/>
    <add key="DATACACHE_NAME" value="session"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <authentication mode="Windows"/>
    <httpModules/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
</configuration>